<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--    别名，自动扫描com.how2java.pojo下的类型，
    使得在后续配置文件Category.xml中使用resultType的时候，
    可以直接使用Category,而不必写全com.how2java.pojo.Category
    -->
    <typeAliases>
        <package name="com.how2java.pojo"/>
    </typeAliases>


    <!--    提供连接数据库用的驱动，数据库名称，编码方式，账号密码
     -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/how2java?characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="203991"/>
            </dataSource>
        </environment>
    </environments>

    <!--    映射Category.xml -->
    <mappers>
        <mapper resource="com/how2java/pojo/mapper/Category.xml"/>
        <mapper resource="com/how2java/pojo/mapper/Product.xml"/>
        <mapper resource="com/how2java/pojo/mapper/Order.xml"/>
        <mapper resource="com/how2java/pojo/mapper/OrderItem.xml"/>
    </mappers>
</configuration>